#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Wakuseiboukan
Name[jp]=惑星母艦
Type=Application
Terminal=true
Exec=/usr/games/waku/waku
Comment=Excited warfare on the seas of Kepler IV
Icon=/usr/games/waku/waku.png
Path=/usr/games/waku/
Version=v0.1.2_beta

